.git
.github
.vscode
.devcontainer
_output
_tests
_temp
_artifacts
node_modules
*.zip
*.tar.gz
*.deb
*.rpm
*.pkg
*.exe
*.msi
distribution/osx
distribution/windows
docs.sh
test.sh
azure-pipelines.yml
**/bin
**/obj
**/.DS_Store
